{% block content %}
{% load staticfiles %}

<script>
$(document).ready(function(){
  var inputs = $('input[type=combobox]');

  var dataSource = new kendo.data.DataSource({
				pageSize: 20,
				serverPaging: true,
				serverFiltering: true,
				serverSorting: true,
				transport: {
					read: {
						url: '/consulta',
						dataType: "json",
					}
				},
				schema: {
					total: "count",
					data: function(d) {

          return d.Data;
        }
				}
			});


  var id = inputs.attr('id')
  var idF = "#"+id
  $(idF).removeClass('k-textbox');

var combo = $(idF).kendoComboBox({
    dataSource : dataSource,
    dataTextField : 'nombre',
    dataValueField : 'id'


  }).data('kendoComboBox');
  //debugger;
});
</script>

<input type="{{ type }}" name="{{ name }}" class="k-textbox"
{% if value %} value="{{ value }}"{% endif %}
{% if required %} required{% endif %}
{% include "kendo/attrs.html" %}
{% if datalist %} list="{{ attrs.id }}_list"{% endif %}>{% if datalist %}

<datalist id="{{ attrs.id }}_list">{% for item in datalist %}
	<option value="{{ item }}">{% endfor %}
</datalist>{% endif %}


{% endblock content %}
